body {
  font-family: Arial, sans-serif;
  background-color: gray;
  width: 850px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333; 
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

.post,
.new-post {
  width: 500px;
  background-color: #eee;
  color: black;
  margin: 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px;
  padding: 10px;
}

.sidebar {
  float: right;
  width: 300px;
  margin: 0;
  padding: 5px;
  background-color: #eee;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

label {
  float: left;
  width: 80px;
  padding-top: 4px;
  margin-right: 10px;
  text-align: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

.inline {
  display: inline;
  margin: 0 10px;
}

input[type="submit"] {
  display: inline;
}

.form-item {
  margin: 0 0 10px 0;
}

.form-buttons {
  padding-left: 173px;
}
